@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.leaflet-container {
    height: 100%;
    width: 100%;
    border-radius: 0.75rem;
}
#location-map {
    height: 500px;
    width: 100%;
    z-index: 1;
}
#qr-reader {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}
#qr-reader__dashboard_section_swaplink {
    display: none !important;
}
